<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hryvinskyi_seo">
            <resource>Hryvinskyi_Seo::section_critical_css</resource>
            <group id="critical_css" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Critical CSS</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="critical_css_to_pages" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>List</label>
                    <frontend_model>Hryvinskyi\SeoCriticalCssAdminUi\Block\Adminhtml\System\Config\Form\Field\CriticalCssToPages</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
